<!--<%= link_to 'My Blog', controller: 'articles' %>-->
<div class="overlay" id="overlay"></div>
  <div class="bg">
    <div class="intro">
    <h1 class="ruby">HELLO, RUBY ON RAILS</h1>
    <h2 class="rails">MY FIRST RAILS APPLICATION</h2>
    </div>
</div>
